/* AdminPage.css */

/* Style for the container div */
.container {
  text-align: center;
  padding-bottom: 20%;
}

/* Style for the buttons */
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 5%;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 20px 40px; /* Increased padding for larger size */
  margin: 0 10px; /* Added margin for spacing between buttons */
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px; /* Increased font size */
  position: relative; /* Added position relative */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.button:hover {
  background-color: #0056b3;
}

/* Style for the message */
.button::after {
  content: attr(data-message);
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0; /* Hide message by default */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.button:hover::after {
  opacity: 1; /* Show message on hover */
}
