.home-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.food-item {
    margin: 20px;
    text-align: center;
}

.food-item img {
    width: 500px;
    height: 370px;
    object-fit: cover;
    border-radius: 10px;
}

.food-item h3 {
    margin-top: 10px;
}

.food-item p {
    margin: 5px;
}
